RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(lsj|slater|ls)/(.+\.)(js|gif|php|ttf|html)$ $2$3 [L,NC]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(lsj|slater|ls).*$ index.html [L,NC]
#https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security
#Header set Strict-Transport-Security "max-age=31536000" env=HTTPS 

AddType application/wasm .wasm
